#wrapper
	#header
		#logo
			img(src="images/logo.jpg")
		#address Nina Vinther Andersen <br/> Brønshøjholms Allé 32 <br/> 2700 Brønshøj
		#contact +45 51895011 <br/> nina@ninavinther.dk
		.clearfloat
	#menu
		ul
			li
				a Ydelser
			li
				a Kunder
			li
				a Om
			li
				a Kontakt
		#intro Jeg gør mennesker og gode idéer bedre indenfor journalistik, skriftlig og mundtlig kommunikation, strategisk rådgivning, workshops og undervisning, mens jeg deler begejstring og god energi med dem, jeg arbejder sammen med.
		.clearfloat
