!!!
html
  head
    title= title
    script(type="text/javascript", src="http://use.typekit.com/qcq0ezb.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
