*
	outline 1px solid black

body
	padding 50px
	
.clearfloat
	clear both

#header
	overflow hidden
	div
		float left
	#logo
		width 270px
	#address,
	#contact
		top 90px
		width 180px
		position relative
		
#menu
	margin-top 90px
	ul
		width 270px
		list-style-type none
		padding 0
		margin 0
		float left
	#intro
		font-size 20px
		font-family "proxima-nova"
		float left
		width 450px
